

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name) , html: {class: "well"} ) do |f| %>
  <%= devise_error_messages! %>
  <fieldset><legend><h2>Sign up</h2></legend>
   <%= f.input :first_name %>
   <%= f.input :last_name %>
   <%= f.input :profile_name %>
   <%= f.input :email, as: :email %>
   <%= f.input :password, as: :password%>
   <%= f.input :password_confirmation, as: :password %>
  <div><%= f.submit "Sign up" %></div>
  </fieldset>
<% end %>

<%= render "devise/shared/links" %>
